# Dragoncave gitignore
secrets/
backups/
logs/
certs/
*.bak
*.tmp
*.swp
*.swo
.DS_Store

# Sensitive auth hashes
*.htpasswd

# Local Python envs
venv/
.venv/
venv*/
configs/cloudflared/
configs/pihole/etc-pihole/cli_pw
configs/pihole/etc-pihole/tls.*
configs/pihole/etc-pihole/pihole-FTL.db*

# Ignore Pi-hole live configs (root-owned)
configs/pihole/**
configs/uptime-kuma/*.db
configs/uptime-kuma/*.db-shm
configs/uptime-kuma/*.db-wal
configs/uptime-kuma/*.sqlite
configs/uptime-kuma/*.sqlite-wal
